<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>美多商城-找回密码</title>
    <link rel="stylesheet" type="text/css" href="css/reset.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <script type="text/javascript" src="js/vue-2.5.16.js"></script>
    <script type="text/javascript" src="js/axios-0.18.0.min.js"></script>
    <script type="text/javascript" src="js/constants.js"></script>

</head>
<body>
<div class="find_header">
    <img src="images/logo.png">
    <span class="sub_page_name fl">|&nbsp;&nbsp;&nbsp;&nbsp;找回密码</span>
</div>

<div class="find_form" id="app" v-cloak>
    <div :class="step_class"></div>
    <!-- 第一步的表单 -->
    <form class="form_step" @submit.prevent="first_submit" v-show="form_first_show">
        <div class="form_group">
            <label>账号名：</label>
            <input type="text" name="username" @blur="check_username" v-model="username" class="input_txt" placeholder="请输入用户名手机号或邮箱">
            <span class="error" v-show="error_username">{{ username_error }}</span>
        </div>
        <div class="form_group">
            <label>验证码：</label>
            <input type="text" @blur="check_image_code" name="" class="input_txt input_txt2" v-model="image_code" @blur="check_image_code">
            <img :src="image_code_url" alt="图形验证码" class="pic_code" @click="get_image_code">
            <span class="error" v-show="error_image_code">{{ image_code_error }}</span>
        </div>
        <div class="form_group">
            <input type="submit" value="下一步" class="input_sub">
        </div>
    </form>

    <!-- 第二步的表单 -->
    <form class="form_step" v-show="form_second_show" @submit.prevent="second_submit">
        <div class="form_group">
            <label>手机号：</label>
            <input type="text" name="mobile" class="input_txt" v-model="mobile" @blur="check_mobile">
            <span v-show="error_mobile" class="error">{{ mobile_error }}</span>
        </div>
        <div class="form_group">
            <label>短信验证码：</label>
            <input type="text" name="" class="input_txt input_txt2" v-model="sms_code" @blur="check_sms_code">
            <a href="#" class="phone_code" @click="second_get_sms_code">{{ sms_code_tip }}</a>
            <span class="error" v-show="error_sms_code">{{ sms_code_error }}</span>
        </div>
        <div class="form_group">
            <input type="submit" value="下一步" class="input_sub">
        </div>
    </form>

    <!-- 第三步的表单 -->
    <form class="form_step" v-show="form_third_show" @submit.prevent="third_submit">
        <div class="form_group">
            <label>新密码：</label>
            <input type="password" name="password" class="input_txt" v-model="password" @blur="check_password">
            <span class="error" v-show="error_password">{{ password_error }}</span>
        </div>
        <div class="form_group">
            <label>再次输入：</label>
            <input type="password" name="password2" class="input_txt" v-model="password2" @blur="check_password2">
            <span class="error" v-show="error_password">{{ password2_error }}</span>
        </div>
        <div class="form_group">
            <input type="submit" value="下一步" class="input_sub">
        </div>
    </form>

    <!-- 第四部提示 -->
    <div class="pass_change_finish" v-show="form_fourth_show">密码设置成功！</div>

</div>

<div class="footer no-mp">
    <div class="foot_link">
        <a href="#">关于我们</a>
        <span>|</span>
        <a href="#">联系我们</a>
        <span>|</span>
        <a href="#">招聘人才</a>
        <span>|</span>
        <a href="#">友情链接</a>
    </div>
    <p>CopyRight © 2016 北京美多商业股份有限公司 All Rights Reserved</p>
    <p>电话：010-****888 京ICP备*******8号</p>
</div>
<script type="text/javascript" src="js/find_password.js"></script>
</body>
</html>